In [1]:
import pandas as pd

In [7]:
df = pd.read_excel('C:/Users/suraj/OneDrive/Desktop/Personal/bhole/gen-AI/limechat/asian_paint/Sample Data.xlsx',sheet_name='Sheet1')

In [8]:
df.head(1)

     Region  Pincode       Date Skues  Demand  Inventory   Sales
0  Region 1   123456 2024-06-04  SKU1  250000      50000  270000

In [9]:
df.isnull().mean()

Region       0.0
Pincode      0.0
Date         0.0
Skues        0.0
Demand       0.0
Inventory    0.0
Sales        0.0
dtype: float64

In [10]:
print(df.dtypes)

Region               object
Pincode               int64
Date         datetime64[ns]
Skues                object
Demand                int64
Inventory             int64
Sales                 int64
dtype: object

In [14]:
df.groupby(['Date'])['Demand','Inventory','Sales'].sum()
df.groupby(['Pincode'])['Demand','Inventory','Sales'].sum()

C:\Users\suraj\AppData\Local\Temp\ipykernel_16396\49681985.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Date'])['Demand','Inventory','Sales'].sum()
C:\Users\suraj\AppData\Local\Temp\ipykernel_16396\49681985.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Pincode'])['Demand','Inventory','Sales'].sum()

           Demand  Inventory     Sales
Pincode
110024   11883718    2376744   9431401
123456    6086400    2461350   6565400
600092   16841458    7319642   7798493
620231   15021849    7195489  14131852