In [1]:
import pandas as pd

In [2]:
flow_count = pd.read_csv('C://Users//suraj//OneDrive//Desktop//Personal//bhole//limechat//flow//flow_counts.csv')
account_info = pd.read_csv('C://Users//suraj//OneDrive//Desktop//Personal//bhole//limechat//flow//account_info.csv')

In [3]:
flow_count.rename(columns = {'account_id':'id'}, inplace = True)

In [4]:
account_info.head(1)

,id,is_active,created_at,company,name,hd_account_id,google_id,company_logo,ui_mode
0,10501,True,2023-12-26T18:41:45.319745+05:30,Stark Industries,Stark Industries,27175.0,NaN,NaN,whatsapp

In [13]:
df = pd.merge(flow_count, account_info, on='id', how='left')
dff = df[['id','company','name','Count']]

In [14]:
# dff
dff.rename(columns = {'id':'account_id'}, inplace = True) 
dff.rename(columns = {'company':'company_name'}, inplace = True) 
dff.rename(columns = {'name':'user_name'}, inplace = True) 
dff.rename(columns = {'Count':'number_of_active_flows'}, inplace = True) 
dff

C:\Users\suraj\AppData\Local\Temp\ipykernel_356\2150033956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.rename(columns = {'id':'account_id'}, inplace = True)
C:\Users\suraj\AppData\Local\Temp\ipykernel_356\2150033956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.rename(columns = {'company':'company_name'}, inplace = True)
C:\Users\suraj\AppData\Local\Temp\ipykernel_356\2150033956.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.rename(columns = {'name':'user_name'}, inplace = True)
C:\Users\suraj\AppData\Local\Temp\ipykernel_356\2150033956.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.rename(columns = {'Count':'number_of_active_flows'}, inplace = True)

,account_id,company_name,user_name,number_of_active_flows
0,1,Limechat Development,Limechat Development,79
1,2,OpenSecret,OpenSecret,20
2,3,TWTF,TWTF,20
3,5,Fast&Up,Fast&Up (Aeronutrix),13
4,7,Limechat,Limechat Test,113
...,...,...,...,...
268,8497,Swatantra Brands,Aditya,4
269,9419,NativeClap,NativeClap,2
270,9431,Flits,Flits,2
271,9435,Sproutlife Foods Pvt. Ltd.,Sproutlife Foods Pvt. Ltd.,5
272,9468,doveindia,doveindia,7

In [15]:
dff.reset_index(drop=True, inplace=True)

In [16]:
dff.to_csv('C://Users//suraj//OneDrive//Desktop//Personal//bhole//limechat//flow//account_id_company_name_flow_count.csv',index=False)